body {
  background: linear-gradient(rgb(105, 105, 240), rgb(118, 115, 133));
}

.logo {
  float: right;
}
.Top-Image {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 130px;
}

.SecondImage {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 130px;
}

/*.column1 {
  display: flex;
  border: 5px solid white;
  margin: auto;
  box-sizing: border-box;
  justify-content: space-evenly;
}